[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pcoxtime"]
	path = pcoxtime
	url = https://github.com/cygubicko/pcoxtime-pkg
	shallow = true
	registered = true
